{
  "swagger": "2.0",
  "info": {
    "title": "RabbitMQ",
    "version": "v1.15.2"
  },
  "paths": {% include 'include/paths.json.j2' %},
  "definitions": {% include 'include/definitions.json.j2' %}
}
